<?xml version="1.0"?>
<robot name="table">

  <!-- define the colors -->
<material name="brown">
    <color rgba="0.54 0.27 0.07 1.0"/>
</material>
<material name="light_grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
</material>
  
  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- Top Link -->
  <link name="top">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 2.0" />
      <geometry>
        <box size="2 1 0.05" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>

  
</robot>