<?xml version="1.0"?>
<robot name="table">

  <!-- define the colors -->
  <material name="brown">
    <color rgba="0.54 0.27 0.07 1.0"/>
  </material>
  <material name="light_grey">
    <color rgba="0.8 0.8 0.8 1.0"/>
  </material>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- joint from "world" to "top"-->
  <joint name="top_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 1" />
    <parent link="world" />
    <child link="top" />
  </joint>

  <!-- Top Link -->
  <link name="top">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.025" />
      <geometry>
        <box size="2 1 0.05" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>

  <!-- joint from "top" to "leg1"-->
  <joint name="leg1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="1 .5 0" />
    <parent link="top" />
    <child link="leg1" />
  </joint>

  <!-- Leg1 Link -->
  <link name="leg1">
    <visual>
      <origin rpy="0 0 0" xyz="-.05 -.05 -.525" />
      <geometry>
        <cylinder radius=".05" length=".95" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>

  <!-- joint from "top" to "leg2"-->
  <joint name="leg2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="1 -.5 0" />
    <parent link="top" />
    <child link="leg2" />
  </joint>

  <!-- Leg2 Link -->
  <link name="leg2">
    <visual>
      <origin rpy="0 0 0" xyz="-.05 .05 -.525" />
      <geometry>
        <cylinder radius=".05" length=".95" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>

  <!-- joint from "top" to "leg3"-->
  <joint name="leg3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-1 -.5 0" />
    <parent link="top" />
    <child link="leg3" />
  </joint>

  <!-- Leg3 Link -->
  <link name="leg3">
    <visual>
      <origin rpy="0 0 0" xyz=".05 .05 -.525" />
      <geometry>
        <cylinder radius=".05" length=".95" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>

    <!-- joint from "top" to "leg4"-->
  <joint name="leg4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-1 .5 0" />
    <parent link="top" />
    <child link="leg4" />
  </joint>

  <!-- Leg4 Link -->
  <link name="leg4">
    <visual>
      <origin rpy="0 0 0" xyz=".05 -.05 -.525" />
      <geometry>
        <cylinder radius=".05" length=".95" />
      </geometry>
      <material name="brown" />
    </visual>
  </link>
  
</robot>