<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="rrbot">

    <xacro:include filename="materials.xacro" />
    <xacro:include filename="table_macro.xacro" />
    <xacro:include filename="rrbot_macro.xacro" />

    <link name="world" />


    <xacro:table prefix="table1_" parent="world">
        <origin xyz="3 0 1" rpy="0 0 ${degrees(180)}" />
    </xacro:table>

    <xacro:table prefix="table2_" parent="world">
        <origin xyz="3 0 1" rpy="0 0 ${degrees(180)}" />
    </xacro:table>
</robot>