<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="table">

 
  <xacro:include filename="materials.xacro" />
  <xacro:include filename="table_macro.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- create the table top -->
  <xacro:table prefix="table_" parent="world">
    <!-- position robot in the world -->
    <origin xyz="0 0 1" rpy="0 0 0" />
  </xacro:table>
  


</robot>